name: Dev Release

on:
  push:

jobs:
  test:
    uses: ./.github/workflows/_tests.yml
  create-addon-zip:
    needs: test
    uses: ./.github/workflows/_create-zip.yml
    with:
      dev_version: true
  create-release-notes:
    uses: ./.github/workflows/_create-release-notes.yml

  create-github-release:
    name: "Create Github Release"
    runs-on: ubuntu-latest
    permissions: write-all
    needs:
      - create-addon-zip
      - create-release-notes
    steps:
      - name: Download ZIP Files
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.artifact_name }}
      - name: Download Release Notes
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-release-notes.outputs.release_notes }}
      - name: Verify downloaded files
        run: |
          ls -la ${{ needs.create-addon-zip.outputs.zip_multi }}
          ls -la ${{ needs.create-addon-zip.outputs.zip_pc }}
          ls -la ${{ needs.create-addon-zip.outputs.zip_console }}
          cat ${{ needs.create-release-notes.outputs.release_notes }}
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          name: "${{ needs.create-addon-zip.outputs.addon_version }}"
          commit: ${{ github.ref }}
          tag: "${{ needs.create-addon-zip.outputs.addon_version }}"
          artifacts: "${{ needs.create-addon-zip.outputs.zip_multi }},${{ needs.create-addon-zip.outputs.zip_pc }},${{ needs.create-addon-zip.outputs.zip_console }}"
          artifactContentType: application/zip
          bodyFile: ${{ needs.create-release-notes.outputs.release_notes }}
          allowUpdates: true
          makeLatest: true
          prerelease: true
          updateOnlyUnreleased: true

  create-esoui-release:
    name: "ESOUI Release (TEST)"
    runs-on: ubuntu-latest
    needs: create-addon-zip
    if: github.repository_owner == 'm00nyONE'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Download ZIP Files
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.artifact_name }}
      - name: Verify downloaded files
        run: |
          ls -la ${{ needs.create-addon-zip.outputs.zip_pc }}
      - name: Upload to ESOUI
        uses: m00nyONE/esoui-upload@main
        with:
          api_key: ${{ secrets.ESOUI_API_KEY }}
          addon_id: '2311'
          version: ${{ needs.create-addon-zip.outputs.addon_version }}
          zip_file: ${{ needs.create-addon-zip.outputs.zip_pc }}
          changelog_file: 'CHANGELOG.md'
          description_file: 'README_ESOUI.bbcode'
          test: true
